@use '_utilities' as *;
@use 'sass:map';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: #023e7c;
  // background: linear-gradient(to right, #33b8c0, #023e7c);
  color: #fff;
  line-height: 1;
  &__logo {
    font-size: 2rem;
    font-weight: 700;
  }
  &__logoLink {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav {
    display: flex;
    gap: 10px;
  }
  &__navLink {
    display: block;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    color: inherit;
  }
}
.btn-new {
  padding: 10px;
  background: #ffe100;
  border-radius: 4px;
  color: #07355c;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  @media screen and (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
	}
  &__item {
    width: calc((100% / 4) - 20px);
    min-width: 400px;
  }
  &__item-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__image {
    aspect-ratio: 1 / 0.8;
    min-height: 0;
  }
  &__text {
    margin-top: auto;
  }
}

/* 新規作成
------------------------------*/
.editorBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.tabs {
  display: flex;
  gap: 5px;
  width: 100%;
  margin-left: 10px;
}
.tab {
  padding: 4px 40px 4px 10px;
  background: #efefef;
  border-radius: 4px 4px 0 0;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
  &.-add {
    background: $yellow;
    padding-right: 10px;
    opacity: 1;
  }
}
.tabIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 8px;
  &:hover {
    background: #ccc;
  }
}

.uploadedImage {
  pointer-events: none;
}

.fixArea {
  border: 2px solid $blue;
  position: absolute;
  z-index: 99;
  .num {
    display: inline-block;
    padding: 2px 5px 5px;
    background: $blue;
    border-radius: 0 0 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    line-height: 1;
    font-size: 1.4rem;
  }
  &.active {
    border-color: $yellow;
    .num {
      background: $yellow;
    }
  }
}

.insList {
  flex-shrink: 0;
  width: 330px;
}